<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!--
  debug的value设置是否启用调试模式
  log设置日志文件存储目录
  -->
  <baseConfig debug="true" decryptKey="laobai.com">
    <root path="/"/>
    <cache expires="300"/>
    <log path="C:\Laobai\Logs" />
    <lucene path="C:\Laobai\Indexs" />
    <userAgent value="Mozilla/4.0 (compatible; MSIE 9.0; Windows NT 5.2; tarula.com ; .NET CLR 1.1.4322; .NET CLR 2.0.50727)"/>
    <!--http://s.laobai.com/EbaoLifeServer/action-->
    <!--http://ts.laobai.com/EbaoLifeServer/action-->
    <dataAPI url="http://s.laobai.com/EbaoLifeServer/action" debug="http://ts.laobai.com/EbaoLifeServer/action"/>
  </baseConfig>
</config>