<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--http://s.laobai.com/EbaoLifeServer/action-->
    <!--http://ts.laobai.com/EbaoLifeServer/action-->
    <add key="IndexRoot" value="C:\LaobaiIndex"/>
    <add key="DataAPI" value="http://s.laobai.com/LaoBaiServer/action"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>